*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.bannerImg {
    height: 80rem;
    background:  url("/static/images/sleep_banner.avif");
    background-size: cover; 
    background-position: center;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.bannerOverlay {
    height: 100%;
    width: 100%;
    background: #2e292688; 
    clip-path: polygon(
    100% 100%,  /* bottom-right */
    65% 100%,   /* bottom-middle */
    45% 0%,     /* top-middle */
    100% 0%     /* top-right */
    );

    position: relative;
}
.bannerContent {
    color: #e1e0e0; 
    font-size: 2rem;
    text-align: right;
    margin-right: 7rem;
}

.bannerContent h1 {
    padding-top: 15%;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.bannerContent button {
    padding: .9rem 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 15px;
    margin-right: 10%;
    margin-top: 10%;
    color: #f6c77c;
    /* CSS Reset */
    background: none;       
    border: none;          
    cursor: pointer;      
    padding: 0;      
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: #00000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    z-index: 2000;
}

/* Left title */
.nav-left {
    font-weight: 600;
    color: #f6c77c;
    font-size: 2rem;

}

.nav-right{
    margin-right: 45px;
}

/* Right links */
.nav-right a {
    padding: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #cfd1d3;
    font-size: 1.3rem;
}

.nav-right a:hover {
    color: #f6c77c;
}

/* New Page (Log ) */
/* Form container styling */
.form-container {
    max-width: 600px;
    margin: 5rem auto 4rem auto; /* pull up near banner */
    background: #292523;
    padding: 2rem 3rem;
    border-radius: 20px;
    color: #e1e0e0;
}

.form-container .form-group {
    margin-bottom: 1.8rem;
}

.form-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.form-container select {
    width: 100%;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #2e2926;
    color: #e1e0e0;
    cursor: pointer;
}



/* Submit Button styling */
.submit-btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 15px;
    background: transparent;
    border: 2px solid #f6c77c;
    color: #f6c77c;
    cursor: pointer;
    width: 100%;
}


.submit-btn:hover {
    transition: all 0.54s ease-in-out;
    box-shadow: 0 12px 30px rgb(255, 255, 255);
}

body {
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        #1c2332 0%,
        #121726 40%,
        #080a12 70%,
        #000000 100%
    );
}
