{% extends "base.html" %}

{% block title %}Magic Predictor{% endblock %}

{% block content %}
<div class="page">
    <h1>Magic sleep Predictor</h1>

    <form method="POST">
        
        <!-- Bed Time selection -->
        <h3>Sleep length:</h3>
        <select name="SleepLength" id="SleepLength">
            {% for SleepLength in sleep_lengths %}
                <option value="{{ SleepLength }}">{{ SleepLength }}</option>
            {% endfor %}
        </select>

        <br>
        <!-- Energy Level -->
        <h3>Caffeination Level:</h3>
        <select name="CaffeineConsumed" id="CaffeineConsumed">
            {% for CaffeineConsumed in caffeine_intakes %}
                <option value="{{ CaffeineConsumed }}">{{ CaffeineConsumed }}</option>
            {% endfor %}
        </select>

        <br>
        <!-- AlcoholConsumed selections -->
        <h3>AlcoholConsumed:</h3>
        <select name="AlcoholConsumed" id="AlcoholConsumed">
            {% for AlcoholConsumed in is_alcoholconsumeded %}
                <option value="{{ AlcoholConsumed }}">{{ AlcoholConsumed }}</option>
            {% endfor %}
        </select>

        <br>
        <!-- Sleep Duration selections -->
        <h3>Awakenings:</h3>
        <select name="Awakenings" id="Awakenings">
            {% for Awakenings in awakeningss %}
                <option value="{{ Awakenings }}">{{ Awakenings }}</option>
            {% endfor %}
        </select>

        <br>
        <!-- Caffeine Intake selections -->
        <h3>Sleep Time:</h3>
        <select name="SleepTime" id="SleepTime">
            {% for sleepTime in sleep_times %}
                <option value="{{ sleepTime }}">{{ sleepTime }}</option>
            {% endfor %}
        </select>

        <button id="book" type="submit">Predict Effectiveness</button>
    </form>

    {% if prediction %}
        <div class="recommendation-card">
            <h2>Prediction Result</h2>
            <p><strong>Sleep Time:</strong> {{ choices.SleepTime }}</p>
            <p><strong>Sleep Duration:</strong> {{ choices.SleepLength }}</p>
            <p><strong>Awakenings:</strong> {{ choices.Awakenings }}</p>
            <p><strong>AlcoholConsumed:</strong> {{ choices.AlcoholConsumed }}</p>
            <p><strong>Caffeine Intake:</strong> {{ choices.CaffeineConsumed }}</p>
            <p class="probability">
                {{ (prediction.probability * 100) | round(3) }}% likely to be effective
            </p>
        </div>
    {% endif %}
</div>
{% endblock %}
